<app-header></app-header>
<main>
<p class="titulo">Filmes</p>
<div class="img">
    <img src="../../assets/cinema 1.png" alt="Cinema">
</div>
<p class="subtitulo">Cadastrar Filmes</p>
<div class="input">
    <form [formGroup]="form" >
    <input type="text" placeholder="Titulo do Filme">
    <select name="Genero" formControlName="generoId" id="genero" >
        <option [value]="item.id" *ngFor="let item of genero; index as i;">{{item.genero}}</option>
    </select>
    <button (click)="salvarDadosFilmes()" *ngIf="!verificarEditar" >Salvar</button>
    <button (click)="EditarCliente1()" *ngIf="verificarEditar" >Editar</button>
</form>
</div>

<div class="informacoesDoFilme">

    <div class="filmes" *ngFor="let item of filmes; index as i;">
    <p>{{item.nome}}</p>
    <p>{{item.genero?.genero}}</p>
    <button class="editar" (click)="EditarCliente2(item)">Editar</button>
    <button class="excluir" [swal]="{ 
        title: 'ATENCAO!!!',
        text: 'Tem certeza que deseja excluir '+item.nome+'?',
        showDenyButton:true,
        denyButtonText:'Não',
        confirmButtonText: 'Sim',
        
        icon:'warning'
    }" (confirm)="deleteDadosFilmes(item.id)">Excluir</button>
    </div>
    </div>
    


</main>
<app-footer></app-footer>