@media(max-width:480px){
    .Flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main{
        width: 80%;
        height: 1000px;
    }   
    input{
        width: 200px;
    }
    select{
        width: 200px;
    } 
    button{
        width: 200px;
    }
}